<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Simple Birthday mailer app</title>
</head>
<body>
    <div class="container">

        <form action="" method="POST">
            <h1>Client Details</h1>
            <div>
                <label for="username">Your Username</label>
                <input type="text" id="username" name="username" placeholder="please enter your username" required>
            </div>
            <div>
                <label for="email">Your Email</label>
                <input type="email" id="email" name="email" placeholder="please enter your email" required>
            </div>
            <div>
                <label for="dob">when is your next birthday?</label>
                <input type="date" id="dob" name="dob" placeholder="please enter your date of birth" required>
            </div>
            <button type="submit">Send</button>
        </form>
    </div>
</body>
</html>