<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Thank you note</title>
</head>
<body>
    <div class="container">
        <h3>THANK YOU FOR BEING AN AWESOME CLIENT 🎉 </h2>
        <a href="/"> &larr; back home </a>
    </div>
</body>
</html>